.content-box {
    background-color:rgb(0, 0, 0) ;
    border: 3px inset rgb(179, 58, 179);
    padding:40px;
    border-radius: 12px;
    max-width: 70%;
    margin: 50px auto ;
    height: 1500px ;
    box-shadow: 0 6px 12px black ;
    opacity:0.9;
    transition:opacity 0.3s ease;
    }

p {
    text-align: left;
    font-size:50px;
    font-family: 'Inter', sans-serif; 
    color:rgb(255, 255, 255);
}

h1 {
    text-align:  center;
    font-size : 90px;
    font-family: 'inter', sans-serif;
    margin:auto; 
    color:rgb(255, 255, 255);
    font-weight:bolder;

    }

#P1 {
    font-size: 70px;
    font-weight:200;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
}

.button {
    display: block;
    width:200px;
    height:70px;
    background-color: rgb(179, 58, 179);
    border-radius: 40px; 
    color: white;
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
}

.button:hover {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: rgb(179, 58, 179);
    font-weight:bolder;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow : 0 4px 8px rgba(0,0,0,0.1);
    transform: translateY (-2px);
}
#H3 {
    text-align : center; 
    color:rgb(255, 255, 255);
    font-weight: bold;
}

#P2 {
    text-align:center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    padding-top: 20px;
}

.series-box {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right:40px;

}

.series-box img{
    width:400px;
    height: 220px;
    border-radius:20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.3s ease;
    display:block;
    border: inset 2px rgb(183, 0, 255);
}
.series-box img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 50px rgba(180, 16, 16, 0.8);
    border:inset 2px rgb(0, 0, 0);
    transition:0.3 ease;
    cursor:pointer;
    filter:sepia(0.3) saturate(1.5) brightness(0.9);
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: 30px;
}

.nav-links {
    display: flex;
    gap: 30px;
    margin-left:auto;
}

.nav-links a {
    text-decoration: none;
    color: rgb(127, 0, 231);
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: rgb(255, 255, 255);
}

body {
    background-image: url(https://images.unsplash.com/photo-1673526759327-54f1f5b27322?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHx8);
    color:rgb(255, 255, 255);
    text-align: center;
    font-family:'inter', sans-serif;
    font-size:20px;
    margin:0;
    padding:0;
}

    
    



